# -------------------------
# Output / generated tiles
# -------------------------
*.mbtiles
*.pmtiles

# ---------------------------------------
# Storage / ignore MinIO persistent data
# ---------------------------------------
minio_data/