# ---------------------------------
# Output / generated tiles/parquet
# ---------------------------------
*.mbtiles
*.pmtiles
*.parquet

# ---------------------------------------
# Storage / ignore MinIO persistent data
# ---------------------------------------
minio_data/