# minIO 
boto3==1.42.85

# tests
pytest==9.0.3

# conversion
geopandas==1.1.3
pyarrow==17.0.0

pandas==2.2.2
numpy==1.26.4

shapely==2.0.4
pyproj==3.6.1

# env
python-dotenv==1.2.2

# webserver
uvicorn[standard]==0.43.0
fastapi==0.135.2

# query engine for geoparquet
duckdb==1.4.1

# dev-mode tools
ruff==0.15.6
black==26.3.1
mypy==1.19.1