# minIO 
boto3==1.42.85
# tests
pytest==9.0.3
# conversion: GeoParquet with geopadas
geopandas==1.1.3
numpy==2.4.4
pyproj==3.7.2
pandas==3.0.2
shapely==2.1.2
pyarrow==23.0.1
# helpers
packaging==26.0
python-dateutil==2.9.0.post0
six==1.17.0
certifi==2026.2.25
# conversion parquet2gpkg
pyogrio==0.12.1
